name: Update Data

on:
  schedule:
    - cron: '0 */1 * * *'
  workflow_dispatch:
  
jobs:
  update_data:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'  # Set this to your required Python version
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt  # If you have a requirements.txt
    - name: Run team_def_vs_pos.py
      run: python team_def_vs_pos.py
    - name: Run team_lineups.py
      run: python team_lineups.py
    - name: Run scrape_odds.py
      run: python scrape_odds.py
    - name: Run stats.py
      run: python stats.py
    - name: Run injury_data.py
      run: python injury_data.py
    - name: Commit and push if there are changes
      run: |
        git config user.email "dhiren3102@gmail.com"
        git config user.name "DhirenShivdasani"
        git add .
        git commit -m "Automated data update" -a || exit 0  # '-a' to include all changes
        git push https://${{ secrets.NBA_PLAYER_PROP }}@github.com/DhirenShivdasani/NBA-player-prop-analysis.git main
